

.btnActive{
    width: 204px;
    height: 41px;

    border-radius: 50px;
    border: 0.7px solid #4E92F9;
    background: var(--sdf, #BCD7FF);

    color: var(--unnamed, #4A4A4A);
    text-align: center;

    /* 로그인하기 */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.8px;

    
}



